h1 {
    color: rgb(0, 255, 0);
    font-family: sans-serif
}
h2 {
    color: rgb(243, 70, 99);
    font-size: 20px;
}
.header{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-evenly;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    border: 1px solid green;
    
}